<div class="search-container">
<input type="text" [formControl]="searchControl" (input)="toggleDropdown()" placeholder="Search...." 
class="autocomplete-input" (keydown)="onInputKeyDown($event)">
</div>
  <div *ngIf="showDropdown && searchControl.value !== ''"  class="autocomplete-dropdown">
    <div *ngFor="let option of filteredOptions | async; let i = index" [class.selected]="selectedIndex === i" 
    (click)="selectOption(option); selectedIndex = i"  class="option" [class.hovered]="i === selectedIndex"
    (mouseenter)="selectedIndex = i" tabindex="0">
      {{ option }}
    </div>
  </div>